body {
    padding-top: 5rem;
}

.profile-card{
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.profile-banner{
    background-image: url("../images/profile-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 160px;
}

.profile-img {
    width: 160px;
    margin-top: -80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 5px solid #5a44a6;
}

.full-name{
    margin-bottom: 0px;
}

.username {
    color: gray;
    margin-top: 0px;
}

.location{
    margin-bottom: 0px;
}
.bio {
    margin-left: 110px;
    margin-right: 110px;
}

.account-info {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.follow-btn {
    padding: 10px 50px;
    background-color: #d48aff;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 40px;
}